APP_URL=https://auth.benjahex.qzz.io

DISCORD_CLIENT_ID=1552239931898859550
DISCORD_CLIENT_SECRET=PUT_NEW_DISCORD_CLIENT_SECRET_HERE
DISCORD_REDIRECT_URI=https://auth.benjahex.qzz.io/api/auth/callback
DISCORD_BOT_TOKEN=PUT_NEW_DISCORD_BOT_TOKEN_HERE
DISCORD_ADMIN_IDS=1337766817694744588

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=discord_vercel_oauth

TOKEN_ENCRYPTION_KEY=PUT_64_HEX_CHARACTERS_HERE
AUTH_SECRET=PUT_A_LONG_RANDOM_SECRET_HERE
CRON_SECRET=PUT_ANOTHER_LONG_RANDOM_SECRET_HERE

DISCORD_GUILDS_JSON=[{"id":"1435304112877998131","name":"Server 1","roleId":"1436054335220875284"},{"id":"1535164246852374550","name":"Server 2","roleId":"1542721497091538970"}]

NEXT_PUBLIC_DISCORD_INVITE_URL=https://discord.com/app
